Repository sc0tt5/nx-tour-of-heroes: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --fix, prettier --write

issue-44 move demo delay to nestjs server
  libs/api/src/lib/tour-of-heroes/tour-of-heroes.service.ts
  libs/shared/data-access/src/lib/resource/resource.service.ts
Due: tslint --fix, prettier --write

issue-44 move add sass-lint
  package-lock.json
  package.json
Due: prettier --write

issue-44 sass-lint test
  libs/tour-of-heroes/shared/ui/src/lib/card/card.component.scss
  package.json
Due: prettier --write

issue-44 husky test
  .huskyrc
  libs/tour-of-heroes/shared/ui/src/lib/card/card.component.scss
Due: prettier --write

issue-44 husky test
  package.json
Due: prettier --write

issue-44 husky test
  libs/api/src/lib/tour-of-heroes/tour-of-heroes.service.ts
Due: tslint --fix, prettier --write

issue-44 husky testing
  package.json
Due: prettier --write

issue-44 husky testing
  libs/api/src/lib/tour-of-heroes/tour-of-heroes.service.ts
Due: tslint --fix, prettier --write

issue-44 rollback husky testing
  .huskyrc
  package.json
Due: prettier --write

issue-63 prevent loading indicator when SSR
  libs/tour-of-heroes/shared/data-access/src/lib/+state/heroes.store.module.ts
Due: tslint --fix, prettier --write

issue-64 lighthouse ci, stylelint, and related
  .gitattributes
  .gitignore
  .lighthouserc.js
  .npmrc
  .nvmrc
  .prettierignore
  .prettierrc
  .stylelintrc
  apps/tour-of-heroes/src/app/app.component.scss
  apps/tour-of-heroes/src/app/app.component.ts
  apps/tour-of-heroes/src/styles.scss
  package-lock.json
  package.json
  tools/scripts/budget.spec.ts
  tools/scripts/budget.ts
  tools/scripts/lighthouse.config.ts
  tools/scripts/lighthouse.report.ts
  tools/scripts/lighthouse.run.ts
  tools/scripts/lighthouse.types.ts
Due: tslint --fix, prettier --write

issue-64 nx cli migrate 13
  .storybook/main.js
  angular.json
  apps/api/jest.config.js
  apps/tour-of-heroes/jest.config.js
  jest.config.js
  libs/tour-of-heroes/feature/detail/jest.config.js
  libs/tour-of-heroes/feature/list/jest.config.js
  libs/tour-of-heroes/feature/search/jest.config.js
  libs/tour-of-heroes/shared/data-access/jest.config.js
  libs/tour-of-heroes/shared/ui/jest.config.js
  nx.json
  package-lock.json
  package.json
  tsconfig.base.json
Due: prettier --write

issue-64 husky 8 init
  .husky/post-commit
  .husky/pre-commit
Due: none

issue-72 testing GitHub actions
  .github/workflows/learn-github-actions.yml
  package.json
Due: prettier --write

issue-72 testing LHCI action
  .github/workflows/ci.yml
  .github/workflows/learn-github-actions.yml
  README.md
Due: prettier --write

issue-72 testing LHCI action
  .github/workflows/ci.yml
Due: none

issue-72 package lock update
  package-lock.json
Due: prettier --write

issue-72 various fixes found during lhci testing
  .nxignore
  .stylelintrc
  apps/tour-of-heroes/src/styles.scss
  libs/shared/ui/src/lib/form/dynamic-field/dynamic-field.component.scss
  libs/shared/ui/src/lib/form/dynamic-form/dynamic-form.component.scss
  libs/shared/ui/src/lib/form/dynamic-form/dynamic-form.component.ts
  libs/shared/ui/src/lib/modal/modal.component.scss
  libs/shared/ui/src/lib/modal/modal.component.ts
  libs/tour-of-heroes/feature/search/src/lib/search.component.scss
  libs/tour-of-heroes/shared/ui/src/assets/stylesheets/base/_base.scss
  libs/tour-of-heroes/shared/ui/src/assets/stylesheets/base/_grid.scss
  libs/tour-of-heroes/shared/ui/src/assets/stylesheets/base/_motion.scss
  libs/tour-of-heroes/shared/ui/src/assets/stylesheets/components/_components.scss
  libs/tour-of-heroes/shared/ui/src/assets/stylesheets/components/_form.scss
  libs/tour-of-heroes/shared/ui/src/assets/stylesheets/layout/_ui-shell.scss
  libs/tour-of-heroes/shared/ui/src/assets/stylesheets/main.scss
  libs/tour-of-heroes/shared/ui/src/assets/stylesheets/themes/_tour-of-heroes.scss
  libs/tour-of-heroes/shared/ui/src/lib/editor/editor.component.scss
  libs/tour-of-heroes/shared/ui/src/lib/editor/editor.component.ts
  libs/tour-of-heroes/shared/ui/src/lib/main/main.component.html
  libs/tour-of-heroes/shared/ui/src/lib/main/main.component.scss
  libs/tour-of-heroes/shared/ui/src/lib/nav/nav.component.scss
Due: tslint --fix, prettier --write

issue-72 testing LHCI action - token and lh adj
  .github/workflows/ci.yml
  .lighthouserc.js
  apps/tour-of-heroes/src/polyfills.ts
  tsconfig.base.json
Due: tslint --fix, prettier --write

issue-42 remove unused components and services
  README.md
  libs/shared/theme/.eslintrc.json
  libs/shared/theme/README.md
  libs/shared/theme/project.json
  libs/shared/theme/src/lib/styles/_core.scss
  libs/shared/theme/src/lib/styles/_settings.scss
  libs/shared/theme/src/lib/styles/_variables.scss
  libs/shared/theme/tsconfig.json
  libs/shared/theme/tsconfig.lib.json
  libs/shared/ui/src/index.ts
  libs/shared/ui/src/lib/content-loader/content-loader.component.html
  libs/shared/ui/src/lib/content-loader/content-loader.component.scss
  libs/shared/ui/src/lib/content-loader/content-loader.module.ts
  libs/shared/ui/src/lib/loading-indicator/loading-indicator.component.html
  libs/shared/ui/src/lib/loading-indicator/loading-indicator.component.scss
  libs/shared/ui/src/lib/loading-indicator/loading-indicator.component.spec.ts
  libs/shared/ui/src/lib/loading-indicator/loading-indicator.component.ts
  libs/shared/ui/src/lib/loading-indicator/loading-indicator.module.ts
  libs/shared/utils/src/index.ts
  libs/shared/utils/src/lib/analytics/analytics.service.spec.ts
  libs/shared/utils/src/lib/analytics/analytics.service.ts
  tsconfig.base.json
  workspace.json
Due: tslint --fix, prettier --write

issue-85 fix jest config coverage output
  libs/tour-of-heroes/shared/ui/jest.config.ts
Due: tslint --fix, prettier --write

issue-85 app bootstrap related adjustments
  apps/tour-of-heroes/src/app/app.component.html
  apps/tour-of-heroes/src/app/app.component.ts
  apps/tour-of-heroes/src/app/app.module.ts
  apps/tour-of-heroes/src/app/app.server.module.ts
  libs/shared/utils/src/lib/interceptors/server.interceptor.ts
Due: tslint --fix, prettier --write

issue-85 private readonly
  libs/api/src/lib/tour-of-heroes/tour-of-heroes.service.ts
  libs/shared/data-access/src/lib/resource/resource.service.spec.ts
  libs/shared/data-access/src/lib/resource/resource.service.ts
  libs/shared/ui/src/lib/form/dynamic-field/dynamic-field.component.ts
  libs/shared/ui/src/lib/form/dynamic-form/dynamic-form.component.ts
  libs/shared/ui/src/lib/modal/modal.component.ts
  libs/shared/utils/src/lib/interceptors/server.interceptor.ts
  libs/shared/utils/src/lib/router-store/router.facade.ts
  libs/tour-of-heroes/feature/detail/src/lib/detail.component.ts
  libs/tour-of-heroes/feature/detail/src/lib/detail.guard.ts
  libs/tour-of-heroes/feature/list/src/lib/list.component.ts
  libs/tour-of-heroes/feature/list/src/lib/list.guard.ts
  libs/tour-of-heroes/feature/search/src/lib/search.component.ts
  libs/tour-of-heroes/shared/data-access/src/lib/+state/detail/detail.facade.ts
  libs/tour-of-heroes/shared/data-access/src/lib/+state/list/list.facade.ts
  libs/tour-of-heroes/shared/data-access/src/lib/+state/search/search.facade.ts
  libs/tour-of-heroes/shared/data-access/src/lib/services/heroes.service.ts
  libs/tour-of-heroes/shared/ui/src/lib/nav/nav.component.ts
Due: tslint --fix, prettier --write

issue-85 standalone remove modules
  .eslintrc.json
  apps/tour-of-heroes/src/app/app.module.ts
  libs/shared/ui/src/index.ts
  libs/shared/ui/src/lib/content-loader/content-loader.component.spec.ts
  libs/shared/ui/src/lib/content-loader/content-loader.component.ts
  libs/shared/ui/src/lib/content-loader/content-loader.module.ts
  libs/shared/ui/src/lib/form/dynamic-field/dynamic-field.component.spec.ts
  libs/shared/ui/src/lib/form/dynamic-field/dynamic-field.component.ts
  libs/shared/ui/src/lib/form/dynamic-form/dynamic-form.component.spec.ts
  libs/shared/ui/src/lib/form/dynamic-form/dynamic-form.component.ts
  libs/shared/ui/src/lib/form/dynamic-reactive-form.module.ts
  libs/shared/ui/src/lib/modal/modal.component.spec.ts
  libs/shared/ui/src/lib/modal/modal.component.ts
  libs/shared/ui/src/lib/modal/modal.module.ts
  libs/shared/ui/src/lib/svg-icon/svg-icon.component.spec.ts
  libs/shared/ui/src/lib/svg-icon/svg-icon.component.ts
  libs/shared/ui/src/lib/svg-icon/svg-icon.module.ts
  libs/tour-of-heroes/feature/detail/src/lib/detail.component.ts
  libs/tour-of-heroes/feature/detail/src/lib/detail.module.ts
  libs/tour-of-heroes/feature/list/src/lib/list.component.ts
  libs/tour-of-heroes/feature/list/src/lib/list.module.ts
  libs/tour-of-heroes/feature/search/src/lib/search.component.ts
  libs/tour-of-heroes/feature/search/src/lib/search.module.ts
  libs/tour-of-heroes/shared/ui/src/index.ts
  libs/tour-of-heroes/shared/ui/src/lib/card/card.component.ts
  libs/tour-of-heroes/shared/ui/src/lib/card/card.module.ts
  libs/tour-of-heroes/shared/ui/src/lib/editor/editor.component.ts
  libs/tour-of-heroes/shared/ui/src/lib/editor/editor.module.ts
  libs/tour-of-heroes/shared/ui/src/lib/hamburger/hamburger.component.spec.ts
  libs/tour-of-heroes/shared/ui/src/lib/hamburger/hamburger.component.ts
  libs/tour-of-heroes/shared/ui/src/lib/hamburger/hamburger.module.ts
  libs/tour-of-heroes/shared/ui/src/lib/header/header.component.ts
  libs/tour-of-heroes/shared/ui/src/lib/header/header.module.ts
  libs/tour-of-heroes/shared/ui/src/lib/main/main.component.ts
  libs/tour-of-heroes/shared/ui/src/lib/main/main.module.ts
  libs/tour-of-heroes/shared/ui/src/lib/nav/nav.component.ts
  libs/tour-of-heroes/shared/ui/src/lib/nav/nav.module.ts
  package-lock.json
  package.json
Due: tslint --fix, prettier --write

issue-85 can activate fn
  apps/tour-of-heroes/src/app/app.routing.module.ts
  libs/tour-of-heroes/feature/detail/src/lib/detail.guard.ts
  libs/tour-of-heroes/feature/detail/src/lib/detail.module.ts
  libs/tour-of-heroes/feature/list/src/lib/list.guard.ts
  libs/tour-of-heroes/feature/list/src/lib/list.module.ts
Due: tslint --fix, prettier --write

issue-85 revert sonar ci until bump cov
  .github/workflows/ci.yml
Due: none

Path conditions:
  tslint --fix: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{js,html,json,css,scss,md})
